html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Reem Kufi, sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

.login-form {
    background-color: rgb(151, 214, 194);
    text-align: center;
    margin: auto;
    width: 30%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.login-button,
.add-med-button,
.back-to-patient-list-button,
.submit-medicine-button,
.submit-add-patient-button,
.registration-button,
.remove-patient-button {
    background-color: #AAAAAA;
    width: auto;
    color: black;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
}

#firstname,
#lastname,
#confirmPassword,
#patientName,
#username,
#password,
#medName,
#medDosage,
#medSchedule,
#pharmName,
#pharmAddr,
#pharmPhone,
#physicianName,
#physicianAddr,
#physicianPhone {
    margin: 10px;
    border-radius: 5px;
    height: 30px;
    width: 190px;
}

body:before {
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: .2;
}

.tag-line {
    text-align: center;
}

.manageCare {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

.manage-care-header {
    margin: 0 auto;
    width: 300px;
}

#circle {
    background-color: #F5C8BD;
    display: table-cell;
    height: 280px;
    width: 280px;
    color: black;
    opacity: 5;
    padding: 10px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 50px;
    border: 4px solid #fff;
    box-shadow: 0 0 0 5px #F5C8BD;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-family: Verdana;
}

.patient-list-seletion {
    margin: auto;
}

.patient-dashboard {
    margin: auto;
    padding: 30px;
}

.dashboard-header {
    font-size: 20px;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.dashboard-name {
    position: center;
    display: inline;
}

.dashboard-buttons {
    padding-top: 20px;
    text-align: center;
}

.add-medicine-form,
.add-patient-form,
.medicine-list,
.registration-form {
    background-color: rgb(151, 214, 194);
    height: 660px;
    padding-top: 15px;
    margin-top: 20px;
    text-align: center;
}

.add-medicine-form,
.add-patient-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.patient-list {
    background-color: rgb(151, 214, 194);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medicine {
    font-weight: bold;
    font-size: 18px;
}

.medication-table {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    flex-wrap: wrap
}

.medication-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px rgb(202, 199, 199);
    max-width: 350px;
    margin: 1rem;
    padding: 20px;
    line-height: 1.5rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}

.medication-card-content-title {
    font-size: 18px;
    font-weight: bold;
}

.medication-card-content {
    font-size: 16px;
    padding-left: 10px;
}

.rem-med-button {
    width: 60px;
    height: 35px;
    margin: 10px 10px 10px 10px;
    background-color: #AAAAAA;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

.rw-widget>.rw-widget-container {
    width: 250px;
}

.dropdown_customized {
    width: 250px;
    margin: auto;
    vertical-align: middle;
}

.nav-bar-top {
    background-color: rgb(151, 214, 194);
    width: 100%;
    height: 60px;
    margin-bottom: 40px;
    font-stretch: extra-expanded;
}

.nav-bar-bottom-container {
    margin-top: 40px;
}

.nav-bar-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-bottom-column {
    perspective: 1000px;
    border-radius: 5px;
    border: solid 1px rgb(202, 199, 199);
    color: black;
    width: 400px;
    flex: 0 1 auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}

.nav-bottom-column:hover .flipper,
.nav-bottom-column:hover .flipper {
    transform: rotateY(180deg);
}

.nav-bottom-column,
.nav-bottom-front,
.nav-bottom-back {
    width: 380px;
    height: 380px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.nav-bottom-front,
.nav-bottom-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
}

.nav-bottom-front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.nav-bottom-back {
    transform: rotateY(180deg);
}

.nav-bottom-heading {
    font-size: 27px;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-weight: 100;
}

.nav-bottom-list {
    text-align: left;
    font-size: 18px;
    padding-left: 25px;
    line-height: 1.7rem;
}

.nav-bottom-info {
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 10px;
    font-size: 18px;
    line-height: 1.7rem;
}

.nav-words {
    float: right;
    text-align: center;
    padding: 14px 18px;
    font-size: 22px;
    color: black;
}

.nav-words-fda,
.nav-words-faq {
    float: left;
    text-align: center;
    padding: 14px 18px;
    font-size: 22px;
    color: black;
}

.sub-header-link {
    color: #0b2a69;
    font-weight: bold;
    font-size: 18px;
}

.content-desktop {
    display: none;
}

.link-item {
    margin-top: 15px;
}

.sub-link {
    text-transform: none;
    color: black;
}

.hidden {
    display: inline;
}

@media screen and (min-width: 414px) and (max-width: 736px) {
    .content-desktop {
        display: block;
    }
    .nav-bar-top {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
    }
    .nav-words,
    .nav-words-faq,
    .nav-words-fda {
        padding: 5px;
        font-size: 18px;
        margin-top: 10px;
    }
    .login-form,
    .add-patient-list,
    .add-medicine-list {
        width: 80%;
        flex-wrap: wrap;
    }
    .medicine-list {
        height: 100%;
    }
    #circle {
        height: 200px;
        width: 200px;
    }
    .submit-add-patient-button {
        margin: 10px;
    }
}

@media screen and (min-width: 375px) and (max-width: 667px) {
    .content-desktop {
        display: block;
    }
    .nav-bar-top {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
    }
    .nav-words,
    .nav-words-faq,
    .nav-words-fda {
        padding: 5px;
        font-size: 18px;
        margin-top: 10px;
    }
    .login-form,
    .add-patient-list,
    .add-medicine-list {
        width: 80%;
        flex-wrap: wrap;
    }
    .medicine-list {
        height: 100%;
    }
    #circle {
        height: 200px;
        width: 200px;
    }
    .add-patient {
        min-width: 300px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .content-desktop {
        display: block;
    }
    .nav-bar-top {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
    }
    .nav-words,
    .nav-words-faq,
    .nav-words-fda {
        padding: 5px;
        font-size: 18px;
        margin-top: 10px;
    }
    .login-form,
    .add-patient-list,
    .add-medicine-list {
        width: 80%;
        flex-wrap: no-wrap;
    }
    .add-patient {
        max-width: 300px;
    }
    .medicine-list {
        height: 100%;
    }
    #circle {
        height: 200px;
        width: 200px;
    }
    .add-patient {
        min-width: 300px;
    }
}